<div class="container">
  <div class="row lead-top-row">
    <!-- bid and pay-->
    <div class="col-sm-12">
      <h1 class="gutter-bottom clearfix align-center">
        Sign Up
        <aside class="clearfix">Already have an account? <a class="call-to-action" [routerLink]="['/login']">Log In</a>
        </aside>
      </h1>
      <div class="clearfix col-xs-12 col-sm-offset-2 col-sm-8 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 no-padding">
        <div class="ui red message field-message help-block" *ngIf="hasError">
          User already exists. Use different email.
        </div>
        <form [formGroup]="userform" (ngSubmit)="join(userform.value)">
        <div class="gutter-bottom">
            <label class="clear required">First Name</label>
            <div class="pass-group">
              <input tabindex="1" class="amount-input form-control" type="text" maxlength="40" required placeholder="John" [formControl]="userform.controls['firstname']">
            </div>
        </div>

        <div class="gutter-bottom">
            <label class="clear required">Last Name</label>
            <div class="pass-group">
              <input tabindex="1" class="amount-input form-control" type="text" maxlength="40" required placeholder="Smith" [formControl]="userform.controls['lastname']">
            </div>
        </div>

        <div class="gutter-bottom">
            <label class="clear required">Email address</label>
            <div class="pass-group">
              <input tabindex="1" class="amount-input form-control" type="email" maxlength="40" required placeholder="john.smith@gmail.com" [formControl]="userform.controls['emailAddress']">
            </div>
        </div>

        <div class="gutter-bottom">
            <label class="clear required">Password</label>
            <div class="pass-group">
              <input tabindex="1" class="amount-input form-control" type="password" maxlength="40" required placeholder="Strong password" [formControl]="userform.controls['password']">
            </div>
        </div>

        <div class="gutter-bottom">
            <label class="clear required">Company's token</label>
            <div class="pass-group">
              <input tabindex="1" class="amount-input form-control" type="text" maxlength="40" required placeholder="Your company's token" [formControl]="userform.controls['companyToken']">
            </div>
        </div>

        <div class="gutter-bottom">
              <div class="register-button">
                <button type="submit" class="btn btn-warning btn-lg btn-block" [disabled]="!userform.valid">Sign up</button>
              </div>
              <div class="tocLink">
                  By clicking Sign Up you agree to our new <a target="_blank" href="#terms">T&amp;C's</a>
              </div>
        </div>
        <br/>
      <br/>
      </form>



    </div>

    </div>
    </div>
  </div>
