.align-center {
  text-align:center;
}

h1 aside {
  margin-top:20px;
  font-size:12px;
}

.register-button {
  margin-top:15px;
  width:auto;
}

.tocLink {
  text-align:center;
  margin-top:5px;
}

.gutter-bottom {
  margin-top:10px;
}

.panel {
  width:400px;
}
