<div class="container">
  <div class="row lead-top-row">
    <div class="col-sm-12">
      <div class="list-group">

        <div class="ui icon message" *ngIf="hasPendingRequests() == false">
            <i class="inbox icon"></i>
            <div class="content">
                <div class="header">
                No pending leave requests :)
                </div>
                <p>Perhaps it is time for a short holiday ?</p>
            </div>
        </div>

          <a [routerLink]="['/lead',lead.id]" class="list-group-item" *ngFor="let lead of leaveRequests">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive size" [src]="lead.imageUrl" alt="placehold.it/350x250" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> {{lead.start_date}} </h4>
                    <p class="list-group-item-text"> {{lead.description}} </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2> {{lead.viewcount}} <small> views </small></h2>
                    <button type="button" class="btn btn-default btn-lg btn-block"> View Now! </button>
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <p> Average 4.5 <small> / </small> 5 </p>
                </div>
          </a>
        </div>
        </div>
    </div>
  </div>