<header id="page-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Work absence tracking has never been easier</span>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="content-wrapper">
    <!--<app-startcategories></app-startcategories>-->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>We're growing!</h2>
                    <br/>

                  <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-2">
                    <div class="ui statistic">
                        <div class="value">
                            40
                        </div>
                        <div class="label">
                            Companies
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ui statistic">
                        <div class="value">
                            20,000
                        </div>
                        <div class="label">
                            Users
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>
