<header id="page-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <h1>Work absence tracking has never been easier</h1>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="content-wrapper">
<div class="container imgFix twoColumnLayout">
    <div class="tableRow">
        <div class="tableCell textColumn"><h3>Full Transparency</h3><p class="">Always keep track with a full overview on the availability of all team members.</p>
<p>The vacation application and approval process is smart and easy.</p></div>
        <div class="tableCell imageColumn"><img class="transparency" src="../../assets/images/transparency.png" alt="" class=""></div>
    </div>
</div>
<div class="container imgFix twoColumnLayout">
    <div class="tableRow">
        <div class="tableCell textColumn"><h3>Direct Comparability</h3><p>Planning ahead is easy with a clear overview: Check and compare the absence of all team members and colleagues and avoid conflicts.</p></div>
        <div class="tableCell imageColumn"><img src="../../assets/images/kilof.png" alt=""></div>
    </div>
</div>
<div class="container imgFix twoColumnLayout">
    <div class="tableRow">
        <div class="tableCell textColumn"><h3>Reporting &amp; Forecasting</h3><p>Create your own individual reports with all the information you need and get a perfect utilization of capacity with our capacity forecast.</p></div>
        <div class="tableCell imageColumn"><img src="../../assets/images/reporting.png" alt=""></div>
    </div>
</div>
<div class="threeColumnLayout bgblack" data-scroll="threeColumn">
    
    <div class="container">
        <h2>What we stand for!</h2>        
        <div class="row">
            <div class="col span_4">
                <h4>Safety</h4>                <p>We care for your data, thus we exclusively save them in Germany. With daily backups, strict access controls as well as 24/7 monitoring, we offer you the highest degree of safety.</p>            </div>
             <div class="col span_4">
                <h4>Modularity</h4>                <p>You decide what you need and only pay for that, no matter whether it's vacation management, time recording or digital personnel filing. You have full flexibility with our variable modular concept.</p>            </div>
             <div class="col span_4">
                <h4>Usability</h4>                <p>Our focus is on the user. With absence.io, you choose a software designed for you. It adapts to your needs and is defined by means of your motivation, wishes and problems. Offering customer-centered solutions!</p>            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>We're growing!</h2>
                    <br/>

                  <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-2">
                    <div class="ui statistic">
                        <div class="value">
                            40
                        </div>
                        <div class="label">
                            Companies
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ui statistic">
                        <div class="value">
                            20,000
                        </div>
                        <div class="label">
                            Users
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>
