h1 {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 46px;
    line-height: 1.2;
    color: inherit;
    margin-bottom: 20px;
    text-transform: uppercase
}

.twoColumnLayout {
    display: table;
    margin: 70px auto;
}

container {
    width: 960px;
    margin: 0 auto;
}

.twoColumnLayout .tableRow {
    display: table-row;
}

.twoColumnLayout .tableCell {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

h3 {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.2;
    color: inherit;
    margin-bottom: 10px;
}

p {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
}

.twoColumnLayout .imageColumn {
    text-align: center;
}

/*.twoColumnLayout .imageColumn img.transparency {
    content:url();
}*/


.twoColumnLayout .tableCell {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.imgFix img {
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(200,200,200,0.8);
}
img {
    max-width: 100%;
}

.threeColumnLayout.bgblack {
    background-color: #333;
    color: #fff;
}
.threeColumnLayout {
    padding: 30px 0;
    color: #5a5a5a;
}

/*.container {
    width: 960px;
    margin: 0 auto;
}*/

.threeColumnLayout h2 {
    margin-bottom: 30px;
}
h2 {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 1.2;
    color: inherit;
    margin-bottom: 20px;
}

@media screen and (min-width: 0)
.row {
    margin-left: -30px;
}

@media screen and (min-width: 0)
.span_4 {
    width: 33.33333333%;
    border-left-width: 30px;
    padding: 0 0;
    margin-left: 0;
}
@media screen and (min-width: 0)
.col {
    border-left-width: 30px;
    padding: 0 0;
}
.col {
    border: 0 solid rgba(0,0,0,0);
    float: left;
    box-sizing: border-box;
    background-clip: padding-box !important;
}

h4 {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: inherit;
    margin-bottom: 10px;
}

p {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
}

div {
    display:block;
}